[class^=swiper-button-] {
  transition: all 0.3s ease;
}

.swiper-slide {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 90%;
  height: 87vh;
  float: left;
  transition: opacity 0.6s ease, transform 0.3s ease;
  position:relative;
}
.swiper-container.main-slider {
  width:50%;
  left:8%;
}
.swiper-wrapper {
  height:90vh;
}
.swiper-container.nav-slider {
  position:absolute;
  width: 50%;
  top:10%;
  right:8%;
  background-color:#f5f5f5;
}
.swiper-container.nav-slider .swiper-slide {
  cursor: pointer;
  opacity: 0.4;
  transition: opacity 0.3s ease;
}
.swiper-container.nav-slider .swiper-slide.swiper-slide-active {
  opacity: 1;
}
.swiper-container.nav-slider .swiper-slide .content {
  width: 100%;
}
.swiper-container:hover .swiper-button-prev,
.swiper-container:hover .swiper-button-next {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}
.swiper-container.loading {
  opacity: 0;
  visibility: hidden;
}

.swiper-slide {
  overflow: hidden;
}
.swiper-slide .slide-bgimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.swiper-slide .entity-img {
  display: none;
}
.nav-slider .swiper-slide .content {
  position: absolute;
  top: 10%;
  left: 0;
  padding-left: 19.5%;
  color: #fff;
}
.nav-slider .swiper-slide .content_bottom {
  position: absolute;
  bottom: 10%;
  left: 0;
  padding-left: 19.5%;
  text-align:left
}
.nav-slider .swiper-slide .content_bottom .title {
  font-weight:bold;
  font-size:1.6em
}
.nav-slider .swiper-slide .content  .title {
  font-size: 4em;
  font-weight: bold;
  text-align:left;
}
.swiper-slide .content {
  position: absolute;
  top: 40%;
  left: 0;
  width: 50%;
  padding-left: 5%;
  color: #fff;
}
.swiper-slide .content .title {
  font-size: 2.6em;
  font-weight: bold;
  margin-bottom: 30px;
}
.swiper-slide .content .caption {
  display: block;
  font-size: 13px;
  line-height: 1.4;
  transform: translateX(50px);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.7s ease;
}
.swiper-slide .content .caption.show {
  transform: translateX(0);
  opacity: 1;
}

[class^=swiper-button-] {
  width: 44px;
  opacity: 0;
  visibility: hidden;
}

.swiper-button-prev {
  transform: translateX(50px);
}

.swiper-button-next {
  transform: translateX(-50px);
}

.nav-slider .swiper-slide .slide-bgimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: 60%;
  background-repeat:no-repeat;
}

@media only screen and (max-width: 768px) {
	.swiper-container {
	  width: 100%;
	  height: 500px;
	  float: left;
	  transition: opacity 0.6s ease, transform 0.3s ease;
	}
	.swiper-container.main-slider {
	  width:80%;
	  left:3%;
	}
	.swiper-container.nav-slider {
	  position:absolute;
	  top:18%;
	  right:3%;
	  width: 80%;
	  background-color:#f5f5f5;
	}
	.main-slider {}
	.nav-slider .swiper-slide .slide-bgimg {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  background-position: center;
	  background-size: 80%;
	  background-repeat:no-repeat;
	}
	.nav-slider .swiper-slide .content_bottom {
	  position: absolute;
	  bottom: 12%;
	  left: 0;
	  padding-left: 9%;
	  text-align:left
	}
	.swiper-wrapper {height:500px}
	.nav-slider .swiper-slide .content_bottom .title {
	  font-weight:bold;
	  font-size:1.3em
	}
	.nav-slider .swiper-slide .content {
	  position: absolute;
	  top: 12%;
	  left: 0;
	  padding-left: 9%;
	  color: #fff;
	}
	.nav-slider .swiper-slide .content  .title {
	  font-size: 3em;
	  font-weight: bold;
	  text-align:left;
	}
	.nav-slider .swiper-slide .content_bottom p {
	  font-size:0.8em;
	}

}